{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    My profile
                </h1>
                <h2 class="subtitle">
                    Edit
                </h2>
            </div>
        </div>
    </section>
    <div class="container">
        {{ include('crud/_form.html.twig', {'button_label': 'Update'}) }}
        <hr />
        <a class="button" href="{{ path('home') }}"><span class="icon is-medium"><i class="fas fa-chevron-circle-left"></i></span><span>back to home</span></a>
    </div>
{% endblock %}