{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Login</h3>
                    <p class="subtitle has-text-grey">Please login to proceed.</p>
                    <div class="box">
                        <form action="{{ path('login') }}" method="post">
                            {% if error %}
                                <article class="message is-warning">
                                    <div class="message-body">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                </article>
                            {% endif %}
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" name="_username" type="text" placeholder="Your Username" autofocus="" value="{{ last_username }}">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Your Password"  name="_password">
                                </div>
                            </div>
                            {#
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div>
                            #}
                            <button type="submit" class="button is-block is-info is-large is-fullwidth">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}