{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Minutes</p>
                        <p class="title">3,456</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Hours</p>
                        <p class="title">123</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Days</p>
                        <p class="title">456K</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">weeks</p>
                        <p class="title">789</p>
                    </div>
                </div>
            </nav>
            <hr style="margin: 0 0 3rem;">
            <div class="container has-text-centered">
            You are login <strong>{{ app.user.username }}</strong>
            </div>
        </div>
    </section>
{% endblock body %}